section {
  overflow: hidden;
}
.hero-section {
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  overflow: hidden;
}

@media (max-width: 991.888888px) {
  .hero-section {
    height: auto;
  }
}
@media (max-width: 991.888888px) {
  .hero-section {
    height: auto;
  }
}
.arabic-version .home-hero-slider {
  direction: ltr;
}
.hero-slide {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.home-hero-slider .slick-slide {
  height: 100vh !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-slide .video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media (max-width: 991.888888px) {
  .hero-slide .video,
  .hero-slide picture {
    position: static !important;
    transform: unset !important;
  }
  .home-hero-slider .slick-slide {
    height: auto !important;
  }
}
.hero-slide .video iframe {
  width: 100%;
  height: 100%;
}
.hero-slide picture {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
}
@media (min-width: 1700px) {
  .hero-slide img {
    width: 100%;
    height: 100%;
  }
}
.hero-slide img {
  width: 100%;
  height: 100%;
}

.hero-slide .container {
  margin-top: 15rem;
}
.arabic-version .hero-slide .container {
  direction: rtl;
}

.hero-content-box {
  width: fit-content;
  background-color: #041e424d;
  color: rgba(250, 250, 250, 1);
  padding: 2rem;
  border-radius: 6px;
  width: 650px;
}
.hero-dots-container {
  position: absolute;
  display: flex;
  inset-inline-start: 0;
  bottom: 6rem;
}
.hero-dots-container .slick-dots {
  position: relative;
}
@media (max-width: 767.888888px) {
  .hero-content-box {
    width: 100%;
    margin-top: -6rem;
  }
}
.hero-content-box .type-1-btn span {
  color: rgba(250, 250, 250, 1);
}
.hero-content-box .type-1-btn svg {
  fill: white;
}
.hero-content-box h1,
.hero-content-box h3,
.hero-content-box p {
  color: rgba(250, 250, 250, 1);
}
.hero-content-box p {
  width: 82%;
}
.hero-section .slick-dots .custom-dot {
  background-color: #ffffff33;
  height: 8px;
  width: 45px;
  border-radius: 24px;
  display: block;
  margin-top: 1rem;
}
.hero-section .slick-dots .slick-active .custom-dot {
  background-color: rgba(250, 250, 250, 1);
}
.hero-section .slick-dots li {
  margin: 0 15px;
}
.hero-section .slick-dots {
  width: fit-content;
}
@media (min-width: 992px) and (max-width: 1199.888888px) {
  .hero-section {
    height: 82vh;
  }
  .home-hero-slider .slick-slide {
    height: 85vh !important;
  }
  .hero-slide .container {
    margin-top: 9rem;
  }
}
/* hero-content-md-container */
.hero-content-md-container {
  display: none;
  overflow: hidden;
  padding-block: 2rem;
  margin: 0 !important;
}
@media (max-width: 991.888888px) {
  .hero-content-md-container {
    display: block;
  }
  .hero-content-md-container .hero-content-box {
    margin-top: 0;
  }
  .hero-slide .container {
    display: none;
  }
}
.hero-content-md-container .slick-prev:before,
.hero-content-md-container .slick-next:before {
  content: "";
}
.hero-content-md-container .slick-prev,
.hero-content-md-container .slick-next {
  font-size: 15px;
  color: #fff;
  background-color: var(--primary-color);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-content-md-container .slick-dots li button:before {
  font-size: 10px;
}
.hero-content-md-container .slick-dots li button:before {
  color: var(--primary-color);
}
.hero-content-md-container .slick-prev,
.hero-content-md-container .slick-next {
  top: 113%;
  z-index: 99;
}
.hero-content-md-container .slick-prev {
  left: 127px;
}
.hero-content-md-container .slick-next {
  right: 100px;
}
.hero-content-md-container .slick-track {
  display: flex;
}
.hero-content-md-container .slick-slide {
  height: auto;
}
.hero-content-md-container .slick-dots {
  bottom: 0px;
}

.hero-content-md-container .slick-slide .hero-content-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  margin-inline: 15px;
}
.hero-content-md-container .slick-slide .hero-content-box p {
  height: 100%;
}
@media (max-width: 575.888888px) {
  .hero-content-md-container .hero-content-box > div {
    flex-direction: column;
  }
}
/* 2nd section  */
.home-2nd-section .centerd-section-topic {
  margin-bottom: 1rem;
}
.home-2nd-section-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  margin-bottom: 3rem;
}
.home-2nd-section-card {
  border-radius: 16px;
  overflow: hidden;
  position: relative;
}
.home-2nd-section-card::after {
  content: "";
  background: linear-gradient(
    180deg,
    rgba(228, 228, 228, 0.48) -66.67%,
    rgba(228, 228, 228, 0.8) 100%
  );
  width: 100%;
  height: 100%;
  top: 0;
  position: absolute;
  inset-inline-start: 0;
}
.home-2nd-section-card img {
  width: 100%;
}
.home-2nd-section-card-content {
  position: absolute;
  bottom: 0;
  padding: 1rem;
  z-index: 99;
}
.home-2nd-section-card-content h2 {
  margin-bottom: 0;
}
.home-2nd-section-card-content h4 {
  margin-inline-start: 2.2rem;
}
.home-2nd-section-card-content svg {
  fill: var(--primary-color);
  width: 28px;
}

@media (max-width: 991.888888px) {
  .home-2nd-section-cards {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 767.888888px) {
  .home-2nd-section-cards {
    grid-template-columns: 1fr;
  }
}

/* 3rd-section */
.home-3rd-section {
  background-image: url(../assets/Images/Home/Mask\ group.png);
  padding-block: 4rem;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.home-3rd-section::after {
  content: "";
  position: absolute;
  top: 0;
  inset-inline-start: 0;
  width: 100%;
  height: 100%;
  background-color: #e4e4e499;
  z-index: 1;
}
.home-3rd-section .container {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  z-index: 99;
  background-color: rgba(250, 250, 250, 1);
  width: 70%;
  padding: 1.5rem;
  gap: 2rem;
  border-radius: 24px;
}
.home-3rd-section .container img {
  width: 100%;
  border-radius: 20px;
}
.home-3rd-section-form h2 {
  color: #d75050;
}
.home-3rd-section .type-3-btn {
  width: fit-content;
}

@media (max-width: 991.88888px) {
  .home-3rd-section .container {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 767.89px) {
  .home-3rd-section .container {
    width: 94%;
  }
  .donate-box {
    justify-content: flex-start !important;
  }
}

/* 5th section  */
.home-5th-section {
  overflow: hidden;
  padding-bottom: 4.5rem;
}
.impact-slide img {
  width: 100%;
}
.impact-slider .slick-track {
  display: flex !important;
  gap: 1rem;
}
.impact-slide {
  border-radius: 16px;
  overflow: hidden;
  position: relative;
}
.impact-slide::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.348) 0%,
    rgba(0, 0, 0, 0.6) 79.42%
  );
  top: 0;
}
.impact-slide h4 {
  color: rgba(250, 250, 250, 1);
  z-index: 99;
  font-weight: 400;
}
.impact-slide-content {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 1rem;
  display: flex;
  align-items: flex-end;
}

/* 6th section  */
.home-6th-section {
  background-color: #f7f8f9;
  padding-block: 3rem;
}
.home-6th-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
.support-empower-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 1);
  text-align: center;
  gap: 0.5rem;
}
.support-empower-box img {
  width: 110px;
  height: 110px;
}
@media (max-width: 767.888888px) {
  .home-6th-container {
    grid-template-columns: 1fr;
  }
}

/* ====================> slider-with-progress-bar-section */

.slider-with-progress-bar-section .centerd-section-topic {
  margin-bottom: 1rem;
}
.slider-with-progress-bar-section {
  background: #fff;
  padding-block: 2rem;
}
.slider-with-progress-bar--title {
  color: var(--primary-color);
  padding-bottom: 2rem;
}
@media (max-width: 767.89px) {
  .slider-with-progress-bar-main-slider .type-4-btn {
    width: 100%;
  }
}
.slider-with-progress-bar-main-slider .slick-track {
  display: flex;
  gap: 1rem;
}
.slider-with-progress-bar-main-slider .slick-track::after,
.slider-with-progress-bar-main-slider .slick-track::before {
  display: none;
}
.slider-with-progress-bar--single-slide {
  border-radius: 10px;
  overflow: hidden;
  display: flex !important;
  flex-direction: column;
  height: auto;
}
.slider-with-progress-bar--single-slide-content {
  background: #fff;
  border: 1px solid #2c362b33;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top: none;
  padding: 1.5rem;
  height: 100%;
}
.slider-with-progress-bar--single-slide-img img {
  width: 100%;
  object-fit: contain;
  aspect-ratio: 41/25;
  overflow: hidden;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.slider-with-progress-bar--single-slide-date {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  margin-bottom: 0.5rem;
}
.slider-with-progress-bar--single-slide-date span {
  color: var(--secondary-color);
  margin-bottom: 0;
}
.slider-with-progress-bar--single-slide-title {
  color: var(--secondary);
  margin-bottom: 1rem;
}
.slider-with-progress-bar--single-slide-title h4 {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.slider-with-progress-bar--single-slide.slick-slide.slick-active {
  /* padding-inline-end: 1rem; */
}
/* .slider-with-progress-bar--single-slide.slick-slide.slick-active:last-of-type{
  padding-inline-end: 0;
} */
.slider-with-progress-bar--single-slide-content-inner {
  display: flex;
  gap: 1rem;
  justify-content: flex-start;
  margin-bottom: 2rem;
}
.slider-with-progress-bar--single-slide-content-inner p {
  color: var(--secondary);
  margin-bottom: 0;
}

.slider-with-progress-bar--single-slide-content-inner svg {
  position: relative;
  z-index: 2;
}
.arabic-version .slider-with-progress-bar--single-slide-content-inner svg {
  transform: scale(-1);
}
.slider-with-progress-bar--single-slide-content-inner svg path {
  transition: all 0.3s ease-out;
}
.slider-with-progress-bar--single-slide-content-inner .main-btn {
  padding-block: 0.45rem;
  margin-bottom: 0;
}

.slider-with-progress-bar--single-slide-content-inner .main-btn::before {
  z-index: 1;
}
.slider-with-progress-bar--single-slide-content-inner .main-btn:hover span {
  color: #fff;
  transition: all 0.3s ease-out;
}
.slider-with-progress-bar--single-slide-content-inner .main-btn span {
  position: relative;
  z-index: 3;
  transition: all 0.3s ease-out;
}
.slider-with-progress-bar--single-slide-content-inner a:hover svg path {
  fill: #fff;
  transition: all 0.3s ease-out;
}

.slider-with-progress-bar--progress {
  overflow: hidden;
  border-radius: 30px;
  display: block;
  height: 10px;
  width: 100%;
  background: #041e422f;
  position: relative;
}

.slider-with-progress-bar--progress span {
  background: var(--primary-color);
  height: 100%;
  position: absolute;
  inset-inline-start: 0;
  transition: all 0.3s ease-out;
}

.slider-with-progress-bar--controllers {
  padding-block: 2rem;
  display: grid;
  grid-template-columns: max-content auto max-content;
  align-items: center;
  gap: 1.5rem;
}
.slider-with-progress-bar--controllers .main-btn {
  border-color: var(--secondary);
  min-width: max-content;
  color: var(--secondary);
  margin-bottom: 0;
  padding-block: 0.45rem;
}
.slider-with-progress-bar--controllers .main-btn svg path {
  fill: var(--secondary);
}
.slider-with-progress-bar--controllers .main-btn::before {
  background: var(--secondary);
}
.arabic-version .slider-with-progress-bar--controllers .main-btn svg {
  transform: scale(-1);
}
.slider-with-progress-bar--controllers .main-btn:hover svg path,
.slider-with-progress-bar--controllers .main-btn:hover span {
  color: #fff;
  fill: #fff;
  transition: all 0.3s ease-out;
}

.slider-with-progress-bar--controllers-arrow {
  display: flex;
  gap: 1.5rem;
  min-width: max-content;
  max-width: max-content;
}
.slider-with-progress-bar--controllers-arrow span {
  padding: 1rem;
  background: var(--secondary-color);
  border-radius: 100%;
  cursor: pointer;
  aspect-ratio: 1;
  width: 50px;
  display: flex;
  justify-content: center;
  transition: all 0.3s ease-out;
  align-items: center;
}
.slider-with-progress-bar--controllers-arrow span svg {
  fill: white;
}
.slider-with-progress-bar--controllers-arrow span:hover {
  transition: all 0.3s ease-out;
  background: transparent;
  border: 1px solid #041e422f;
}
.slider-with-progress-bar--controllers-arrow span:hover svg {
  transition: all 0.3s ease-out;
  fill: var(--primary-color);
}
body:not(.arabic-version)
  .slider-with-progress-bar--controllers-arrow
  span:nth-child(1) {
  transform: scale(-1);
}
.arabic-version .slider-with-progress-bar--controllers-arrow span:nth-child(2) {
  transform: scale(-1);
}

@media (max-width: 499px) {
  .slider-with-progress-bar-main-slider .slick-track {
    gap: 0rem;
  }

  .slider-with-progress-bar--controllers-arrow {
    gap: 0.75rem;
  }

  .slider-with-progress-bar--controllers {
    grid-template-columns: auto 1fr;
  }

  .slider-with-progress-bar--controllers > a {
    grid-column: 1/-1;
    width: fit-content;
    margin: auto;
  }

  .slider-with-progress-bar--controllers-arrow span {
    width: 45px;
  }
}

/* home-8th-section  */
.home-8th-section {
  background-color: #f7f8f9;
  padding-block: 3rem;
}
.home-8th-section-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}
.dar-abu-abdalllah-card {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.dar-abu-abdalllah-card img {
  width: 100%;
  border-radius: 6px;
  transition: all 0.3s ease-out;
}
.dar-abu-abdalllah-card picture {
  display: flex;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  min-height: 275px;
}

.dar-abu-abdalllah-card img {
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
  /* aspect-ratio: 75 / 70; */
  /* max-height  : 300px; */
  transition: all 0.3s ease-out;
}

.dar-abu-abdalllah-card:hover img {
  transform: scale(1.2);
  transition: all 0.3s ease-out;
}
.dar-abu-abdalllah-card-content {
  background-color: rgba(250, 250, 250, 1);
  box-shadow: 0px 20px 30px 0px #b6b6b633;
  width: 80%;
  margin: auto;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  border-radius: 6px;
  align-items: center;
  text-align: center;
  margin-top: -4rem;
  z-index: 999;
  position: relative;
  height: 100%;
}
.dar-abu-abdalllah-card-content h3 {
  margin-bottom: 0.5rem;
}
.dar-abu-abdalllah-card-content p {
  opacity: 0.7;
}
.dar-abu-abdalllah-card-content h4 {
  display: flex;
  height: 100%;
}
.dar-abu-abdalllah-card:nth-child(1) .dar-abu-abdalllah-card-content {
  border-bottom: 7px solid #b2cc28;
}
.dar-abu-abdalllah-card:nth-child(2) .dar-abu-abdalllah-card-content {
  border-bottom: 7px solid var(--secondary-color);
}
.dar-abu-abdalllah-card:nth-child(3) .dar-abu-abdalllah-card-content {
  border-bottom: 7px solid #f3a217;
}
@media (max-width: 991.8888888px) {
  .home-8th-section-container {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 767.8888888px) {
  .home-8th-section-container {
    grid-template-columns: 1fr;
  }
}

/* .home-last-section  */

.home-last-section .container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  padding-inline: 3rem;
  background-color: var(--secondary-color);
  width: 75%;
  border-radius: 24px;
  gap: 1rem;
  margin-bottom: 5rem;
  margin-top: 12rem;
}
.last-section-main-pic {
  position: relative;
  width: 100%;
  height: 100%;
}
.last-section-main-pic img {
  width: 100%;
  height: 130%;
  position: absolute;
  bottom: 0px;
  object-fit: contain;
  object-position: bottom left;
}
.last-section-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}
.home-last-section .container h3 {
  color: rgba(250, 250, 250, 1);
  margin-top: 4rem;
}
.home-last-section .container h2 {
  margin-bottom: 1rem;
}
.last-section-card-content p,
.last-section-card-content span {
  color: rgba(250, 250, 250, 1);
}
.last-section-card-content span {
  font-size: 0.85rem;
  font-weight: 400;
}
.last-section-card {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.last-section-card-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-top: 0.5rem;
}
.last-section-card-content p {
  margin-bottom: 0;
  min-height: 2rem;
}
.download-box {
  margin-top: 2rem;
  margin-bottom: 3rem;
  display: flex;
  flex-wrap: nowrap;
  gap: 1rem;
}
.download-box img {
  width: 156px;
}
.download-box a {
  text-decoration: none;
}
@media (max-width: 1300.8888888888px) {
  .home-last-section .container {
    width: 100%;
  }
}
@media (max-width: 1199.8888888888px) {
  .home-last-section .container {
    margin-top: 3rem;
  }
}
@media (max-width: 991.8888888888px) {
  .home-last-section .container {
    /* display: flex;
    flex-direction: column-reverse; */
    grid-template-columns: 1fr;
  }
  .last-section-main-pic {
    display: flex;
    justify-content: center;
    /* margin-top: 2rem; */
  }
  .last-section-main-pic img {
    position: relative;
    width: 30%;
    height: unset;
    object-position: center center;
  }
}
@media (max-width: 767.8888888888px) {
  .last-section-cards {
    grid-template-columns: 1fr;
  }
  .last-section-main-pic img {
    display: none;
  }
}
@media (max-width: 400px) {
  .download-box img {
    width: 100%;
  }
  .download-box a {
    flex: 1;
  }
}

/* ticket 131 */
@media (max-width: 991.88888px) {
  .home-4th-section .centerd-section-topic p {
    width: 100%;
  }
}
/* Ticket 136 */
@media (min-width: 1800px) {
  .slider-with-progress-bar--controllers-arrow span {
    width: 65px;
  }
}
