.donation-flow-main-section .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin-bottom: 3rem;
}
.donation-flow-main-section .main-donation-card img{
  border-radius: 5px;
}
.donation-amount-simple {
  padding: 1rem;
  border: 1.5px solid #041e422f;
  border-radius: 8px;
}
.donation-amount-simple input {
  text-indent: 15px;
}

.donation-amount-simple .calculate-btn {
  width: 100%;
  background-color: transparent;
  border: var(--primary-color) solid 1px;
  color: var(--primary-color);
  border-radius: 999px;
  padding: 0.1rem 2rem;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
}
.donation-amount-simple .type-3-btn span{
  white-space: nowrap;
}
.donation-numbers-box {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}
.donation-numbers-item {
  background-color: #f7f8f9;
  border-radius: 8px;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex: 1;
  padding: 1rem;
  gap: 0.2rem;
  text-align: center;
}
.donation-numbers-item img{
  scale: 0.7;
}
.donation-numbers-item h2 {
  color: var(--colored-slider-color);
}

.goal-achived-box {
  background-color: #f7f8f9;
  padding: 1.5rem 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 8px;
  gap: 0.5rem;
  margin-block: 1rem;
}

.select-currency-box {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border: 1.5px solid #041e422f;
  border-radius: 8px;
  margin-block: 1rem;
}
.donation-flow-main-section .check-input {
  display: flex;
  gap: 0.5rem;
}


.donation-list {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  gap: 1rem;
}

.donation-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #e6e6e6;
  border-radius: 9999px;
  min-height: 55px;
}
.price {
  color: var(--colored-slider-color);
  border-inline-end: 1px solid #041e422f;
  height: 55px;
  margin-bottom: 0;
  padding-inline: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
}

.description {
  flex-grow: 1;
  margin-inline-start: 15px;
  color: #333;
  margin-bottom: 0;
  color: var(--primary-color);
}

.quantity-control {
  display: flex;
  align-items: center;
  gap: 8px;
  height: 100%;
}

.quantity-btn {
  border: none;
  background-color: transparent;
  color: var(--primary-color);
  padding: 5px 10px;
  cursor: pointer;
  height: 100%;
  font-size: 2rem;
  display: flex;
  align-items: center;
}
.quantity-btn.minus {
  border-inline: 1px solid #041e422f;
  padding-inline: 1rem;
  color: #D9DDE3;
}
.quantity-btn.plus {
  border-inline-start: 1px solid #041e422f;
  padding-inline: 1rem;
}

.quantity-btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.quantity {
  margin-bottom: 0;
  width: 45px;
  text-align: center;
  color: #d75050;
}
.donation-items-total{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1.5px dashed var(--colored-slider-color);
    border-radius: 9999px;
    height: 55px;
    padding-inline: 1rem;
    background-color: var(--colored-donation-total-color);
    margin-bottom: 1rem;
}
.donation-items-total .price{
  border: none;
  padding-inline: 0.2rem;
}
.donation-items-total h4 {
    margin-bottom: 0;
    color: var(--colored-slider-color);
}


.donation-amount-detailed{
    padding: 1rem;
    border: 1.5px solid #041e422f;
    border-radius: 8px;
    margin-bottom: 1rem;
}

.donation-amount-detailed .custom-panel.nav-pills{
  background-color: transparent;
}

.custom-panel.nav-pills .nav-link.active{
  color: rgba(250, 250, 250, 1);;
}

.donation-amount-detailed .quantity-control{
  border-radius: 9999px;
  border: 1px solid #041e422f;
  

}
.donation-amount-detailed-btns{
  display: flex;
  gap: 1rem;
  height: 50px;
  margin-bottom: 1rem;
}
.donor-details-box .quantity-btn.minus,
.donation-amount-detailed .quantity-btn.minus{
  border-inline-start: none;
}
.donation-amount-detailed input[type="text"]{
  text-indent: 15px;
   
}
.donation-amount-detailed .donation-amount-detailed-btns{
  margin-top: 1rem;
}

@media (max-width:991.888888888px) {
    .donation-flow-main-section .container{
        grid-template-columns: 1fr ;
    }
}


.donation-flow-slider-section{
  background-color: #F7F8F9;
}
.donation-flow-slider{
  overflow: hidden;
}
.donation-flow-slider .slick-dots{
  position: relative;
  margin-top: 1rem;
  margin-bottom: 2rem;
}
.donation-flow-slider .slick-dots li button:before {
  color: var(--primary-color);
  font-size: 10px;
}
.donation-flow-slider .slick-dots {
  position: relative;
  margin-top: 1rem;
  margin-bottom: 2rem;
}
.slider-wrapper{
  display: flex;
  align-items: center;
  height: 100%;
}
.donation-flow-slide {
  margin-inline: 0.5rem;
  border: 1.5px solid #041e422f;
  border-radius: 10px;
  overflow: hidden;
  display: flex !important;
  flex-direction: column;
  height: auto;
  justify-content: space-between;
}
.donation-flow-slider .slick-list {
  margin-inline: 0.5rem;
}
.donation-flow-slider .slick-track {
  display: flex !important;
}
.home-4th-section {
  overflow: hidden;
}
.donation-flow-slide img {
  width: 100%;
}
.donation-flow-slide-content{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  
  padding-top: 1rem;
}
.donation-flow-slide-content-header{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  padding-inline: 1rem;
}
.donation-flow-slide-content-header p {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  line-clamp: 3;
  -webkit-box-orient: vertical;
}
.donation-flow-slide-radio{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 1rem;
  padding-inline: 1rem;
  padding-block: 1rem;
  border-block: 1.5px solid #041e422f;
  margin-bottom: 1rem;
  height: 100%;
}
.donation-flow-slide-radio div{
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  gap: 0.5rem;
}
.donation-flow-slide-radio div input{
  width: 25px;
  height: 25px;
  flex-shrink: 0;
}

.donation-flow-slider-prev , .donation-flow-slider-next{
  position: relative;
  border-radius: 100%;
  margin: 0;
  padding-inline: 0;
  cursor: pointer;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-out;
  background-color: var(--secondary-color);
  color: rgba(250, 250, 250, 1);;
  flex-shrink: 0;
  inset-inline-start: 0;
  inset-inline-end: 0;
}


@media (min-width:1400.88888888px) {
  .donation-flow-slider-prev , .donation-flow-slider-next{
    position: absolute;
  }
  .donation-flow-slider-prev{
   inset-inline-start: -55px;
  }
  .donation-flow-slider-next{
    inset-inline-start: unset;
    inset-inline-end: -55px;
  }
}
@media (max-width:1435px) {
  .donation-flow-slider-prev , .donation-flow-slider-next{
    width: 40px;
    height: 40px;
  }
 
}
@media(max-width:575.8888px){
  .donation-flow-slider-prev, .donation-flow-slider-next{
    width: 35px;
    height: 35px;
  }
}






.donor-details-box{
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border: 1.5px solid #041e422f;
  border-radius: 8px;
  margin-block: 1rem;
}
.donor-details-box select{
  text-indent: 15px;
  /* background-image: url(../assets/Icons/JOD.svg);
  background-repeat: no-repeat;
  background-position: center right 25px; */
  
}
.donor-details-1st-block{
  display: flex;
  gap: 1rem;
}
@media (max-width:576.89px) {
  .donor-details-1st-block {
    flex-wrap: wrap;
  }
}
.donor-details-1st-block select{
  width: 95px;
}
.donor-details-1st-block input{
  padding-inline-end: 2rem;
  text-indent: 10px;
}
.donor-details-1st-block .donation-buttons{
  gap: 1rem;
}
.donor-details-1st-block .donation-buttons button:hover{
  color: rgba(250, 250, 250, 1);;
  background: var(--colored-slider-color);
  border-color: var(--colored-donation-total-color);
}
.donor-details-box .check-input{
  display: flex;
  gap: 0.5rem;
  margin-top: 1rem;
}
.donor-details-box .check-input input{
  accent-color: var(--colored-slider-color);
}
.donor-details-main-form{
  background-color: rgba(247, 248, 249, 1);
  border-radius: 4px;
}
.donor-details-main-form-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom:1.5px solid #041e422f;
  padding: 1rem;
  padding: 1rem;
}
.donor-details-main-form-header button{
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
}
.donor-details-main-form-header button:hover{
  transform: rotate(-45deg);
}
.donor-details-main-form-header h4{
  margin-bottom: 0;
}

.donor-details-main-form-inputs{
  display: flex;
  flex-direction: column;
  padding: 1rem;  
}
.donor-details-main-form-inputs input,
.donor-details-main-form-inputs textarea{
  background-color: transparent;
}

.donor-details-box .preivew-ecard-btn{
  gap: 0.5rem;
  margin-top: 0;
}
.donor-details-box .quantity-control{
  border-radius: 9999px;
  border: 1px solid #041e422f;
  margin-bottom: 1rem;
}
.modal-footer{
  justify-content: center;
  background-color: rgba(214, 230, 252, 1);
}
.modal-footer button{
  border-color: var(--primary-color);
}


.donation-suggetion {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0.5rem;
}
.Donation-more-modal .modal-dialog img{
  width: 100%;
}

@media (min-width: 576px) {
  .Donation-more-modal .modal-dialog{
    max-width: 800px;
  }
}
.Donation-more-modal .modal-dialog .donation-flow-slide-radio{
  border-bottom: 0;
}


.input-select-currency{
  position: absolute;
  inset-inline-end: 0;
  border: none;
  width: 80px;
  color: var(--primary-color);
}
span.currency{
  color: var(--colored-slider-color);
}

/* tickets */
.donor-details-box .type-7-btn:hover i,.donor-details-box .type-7-btn:hover svg{
  transform: unset;
}
.donation-card-custom-panel h4 {
  margin-bottom: 0;
}
.donation-flow-main-section .raised-goal-ps p:first-child{
  margin-bottom: 0.5rem;
}
.preivew-ecard-modal .modal-body{
  padding-bottom: 0;
}
.preivew-ecard-modal .modal-body picture{
  margin-bottom: 0;
}
.currency-modal img{
  width: 32% !important;
}
.currency-modal h4{
  text-align: center;
}
.currency-modal .modal-header{
  border-bottom: 0;
}
 @media (max-width:767.89px) {
  .donation-suggetion {
    grid-template-columns: 1fr  1fr;
  }
}
 @media (max-width:576.89px) {
  .donation-suggetion {
    grid-template-columns: 1fr ;
  }
}
.arabic-version .donation-flow-slider-btn-main{
  transform: scaleX(-1);
}